<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
<h1>Login</h1>
<form action="/login" method='POST' name='f'>
    <table>
        <tr>
            <td>Email:</td>
            <td><input name='email' type='email' value=''></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input name='password' type='password'/></td>
        </tr>
        <tr>
            <td><input name="submit" type="submit" value="submit"/></td>
        </tr>
    </table>
</form>
</body>
</html>