<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/register" method="post">
    <table>
        <tr>
            <td>Firstname</td>
            <td><input name="firstname" type="text"/></td>
        </tr>
        <tr>
            <td>Lastname</td>
            <td><input name="lastname" type="text"/></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input name="email" type="email"/></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input name="password" type="password"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="register"/></td>
        </tr>
    </table>
</form>
</body>
</html>