<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student List</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">
</head>
<body>
<div th:replace="app/admin/general :: warden-navbar"></div>
<div class="container">
    <div class="row">
        <h1>List Students</h1>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <a class="btn btn-primary  btn-sm mb-3" th:href="@{/admin-students/add}">Students</a>
        </div>
    </div>
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
        <tr>
            <th>First Name</th>
            <th>last Name</th>
            <th>Email</th>
            <th>Hostel</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student: ${students}">
            <td th:text="${student.firstname}"></td>
            <td th:text="${student.lastname}"></td>
            <td th:text="${student.email}"></td>
            <td th:if="${student.hostel!=null}" th:text="${student.hostel.getName()}"></td>
            <td th:unless="${student.hostel!=null}">
                <a class="btn btn-primary btn-sm" th:href="@{/admin-students/edit/{id}(id=${student.id})}">Add
                    hostel</a>
            </td>
            <td>

                <a class="btn btn-primary btn-sm" th:href="@{/admin-students/edit/{id}(id=${student.id})}">Update</a>
                <a class="btn btn-danger btn-sm" th:href="@{/admin-students/{id}(id=${student.id})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>